In [1]:
import pandas as pd
import numpy as np

# Recopilación de datos modelo 'A'

In [4]:
df = pd.DataFrame(columns=['Test', 'Buscador', 'Producto', 'Categoría'])
df

Empty DataFrame
Columns: [Test, Buscador, Producto, Categoría]
Index: []

In [5]:
df.Test = ['A']*15
df.Buscador = [0,0,1,1,0,1,1,1,1,1,0,0,0,0,0]
df.Producto = [0,1,0,0,1,0,0,0,0,0,0,1,0,1,0]
df.Categoría = [1,0,0,0,0,0,0,0,0,0,1,0,1,0,1]
df

   Test  Buscador  Producto  Categoría
0     A         0         0          1
1     A         0         1          0
2     A         1         0          0
3     A         1         0          0
4     A         0         1          0
5     A         1         0          0
6     A         1         0          0
7     A         1         0          0
8     A         1         0          0
9     A         1         0          0
10    A         0         0          1
11    A         0         1          0
12    A         0         0          1
13    A         0         1          0
14    A         0         0          1

### Observaciones:

Durante la recopilación de datos se le ha pedido al usuario que vaya narrando las acciones que desea ejecutar para visitar la página. Aunque no se puedan cuantificar de manera numérica, algunas de ellas se han repetido y pueden ser interesantes para la modificación del diseño de la página.

- No funciona la opción de registro.
- El banner de descuentos esta muy pequeño.
- Opción de búsqueda por marca de producto.
- Muchos productos agotados (ajeno al diseño de la página web).
- Opción de ofertas más visible.
- Problemas para encontrar el inicio.

# Recopilación de datos modelo 'B'

In [7]:
df2 = pd.DataFrame(columns=['Test', 'Buscador', 'Producto', 'Categoría'])

In [9]:
df2.Test = ['B']*15
df2

   Test Buscador Producto Categoría
0     B      NaN      NaN       NaN
1     B      NaN      NaN       NaN
2     B      NaN      NaN       NaN
3     B      NaN      NaN       NaN
4     B      NaN      NaN       NaN
5     B      NaN      NaN       NaN
6     B      NaN      NaN       NaN
7     B      NaN      NaN       NaN
8     B      NaN      NaN       NaN
9     B      NaN      NaN       NaN
10    B      NaN      NaN       NaN
11    B      NaN      NaN       NaN
12    B      NaN      NaN       NaN
13    B      NaN      NaN       NaN
14    B      NaN      NaN       NaN

### Observaciones

Las observaciones que se han realizado para el muestreo de esta página han sido:

# Unión de ambos dataframe

In [12]:
data = pd.concat([df, df2], axis=0)
data

   Test Buscador Producto Categoría
0     A        0        0         1
1     A        0        1         0
2     A        1        0         0
3     A        1        0         0
4     A        0        1         0
5     A        1        0         0
6     A        1        0         0
7     A        1        0         0
8     A        1        0         0
9     A        1        0         0
10    A        0        0         1
11    A        0        1         0
12    A        0        0         1
13    A        0        1         0
14    A        0        0         1
0     B      NaN      NaN       NaN
1     B      NaN      NaN       NaN
2     B      NaN      NaN       NaN
3     B      NaN      NaN       NaN
4     B      NaN      NaN       NaN
5     B      NaN      NaN       NaN
6     B      NaN      NaN       NaN
7     B      NaN      NaN       NaN
8     B      NaN      NaN       NaN
9     B      NaN      NaN       NaN
10    B      NaN      NaN       NaN
11    B      NaN      NaN       NaN
12    B      NaN      NaN       NaN
13    B      NaN      NaN       NaN
14    B      NaN      NaN       NaN